.code-container {
  position: relative;
  background: #282c34;
  border-radius: 5px;
  overflow: hidden;
  height: 67%;
  /* padding: 5px; */
}

.copy-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ffcc00;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}

.copy-btn:hover {
  background: #e6b800;
}

.snippet-card {
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  color: white;
  /* padding: 15px; */
  border-radius: 8px;
  /* margin-bottom: 20px; */
  width: 100%;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.snippet-card h3 {
  /* margin: 10px 20px; */
  margin-left: 20px;
  margin-bottom: 10px;
}

.snippet-card p {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}
/*  */

.cards-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 300px;
  gap: 40px;
  margin: 20px;
}
.edit-card {
  position: absolute;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  align-self: flex-end;
  margin: 17px;
  cursor: pointer;
}

.favorite-card {
  position: absolute;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 60px;
  cursor: pointer;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  width: 50px;
  height: 50px;
  border: 2px blue solid;
  background-color: transparent;
  font-size: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.plus-a {
  text-decoration: none;
}

.favorite-toggle {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px blue solid;
  cursor: pointer;
}

.favorite-toggle > img {
  width: 35px;
  height: 35px;
  /* border: 2px blue solid; */
}

@media (max-width: 976px) {
  .cards-container {
    grid-template-columns: 300px 300px;
    grid-auto-rows: 300px;
  }
}

@media (max-width: 576px) {
  .cards-container {
    grid-template-columns: 200px;
    grid-auto-rows: 200px;
    gap: 70px;
  }
}

@media (max-width: 768px) {
  .code-container {
    width: 100%;
  }
  .snippet-card {
    width: 90%;
    height: 100%;
  }
  .cards-container {
    grid-template-columns: 300px;
    grid-auto-rows: 300px;
    gap: 30px;
  }
}
